src/main/resources/wsdl/altiris.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="www.symantec.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="www.symantec.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="www.symantec.com">
      <s:element name="SubmitIncidentHPOV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Alert" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationInformation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HpomID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MasterSiebelID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NodeName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectInformation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Severity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubmittedBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitIncidentHPOVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubmitIncidentHPOVResult" type="tns:IncidentReturnHPOV" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IncidentReturnHPOV">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="WorkflowTrackingID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProcessID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitIncidentHPOVSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitIncidentHPOV" />
  </wsdl:message>
  <wsdl:message name="SubmitIncidentHPOVSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitIncidentHPOVResponse" />
  </wsdl:message>
  <wsdl:portType name="IncidentHPOVSoap">
    <wsdl:operation name="SubmitIncidentHPOV">
      <wsdl:input message="tns:SubmitIncidentHPOVSoapIn" />
      <wsdl:output message="tns:SubmitIncidentHPOVSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IncidentHPOVSoap" type="tns:IncidentHPOVSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitIncidentHPOV">
      <soap:operation soapAction="www.symantec.com/SubmitIncidentHPOV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IncidentHPOVSoap12" type="tns:IncidentHPOVSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitIncidentHPOV">
      <soap12:operation soapAction="www.symantec.com/SubmitIncidentHPOV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IncidentHPOV">
    <wsdl:port name="IncidentHPOVSoap" binding="tns:IncidentHPOVSoap">
      <soap:address location="http://sdc-dimp.intranet.corp/CT.Create.Incident.Hpov/IncidentHPOV.asmx" />
    </wsdl:port>
    <wsdl:port name="IncidentHPOVSoap12" binding="tns:IncidentHPOVSoap12">
      <soap12:address location="http://sdc-dimp.intranet.corp/CT.Create.Incident.Hpov/IncidentHPOV.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>